[Unit]
Description=Report VM as ready
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/az-report-ready
ExecStartPost=/usr/bin/systemctl disable az-report-ready.service
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
